.dropdownPosition{
    position: relative;
    bottom: 20px;
    padding: 0 0 0 60rem;
    text-align: center;
    width: 500px;
}

button{
    position: relative;
    left: 10px;
    outline: none;
    background-color: #008ae6;
    color: #fff;
    width: auto;
    max-width: 100px;
    min-width: 100px;
    height: 40px;
    font-family: Arial, sans-serif;
    font-size: 20px;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
}

.selectedStatus{
    background-color: #008ae6;
    color: #fff;
    width: auto;
    max-width: 100%;
    min-width: 100px;
    height: 40px;
    font-family: Arial, sans-serif;
    font-size: 20px;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;   
}